<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Conducteurs</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="th-lg">Id</th>
        <th class="th-lg">Prénom</th>
        <th class="th-lg">Nom</th>
        <th class="th-lg"></th>
        <th class="th-lg">
          <button mat-icon-button (click)="disableModif()">
            <mat-icon color="primary">person_add</mat-icon>
          </button></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let conducteur of conducteurs | async">
        <td>{{conducteur.idConducteur}}</td>
        <td>{{conducteur.prenom}}</td>
        <td>{{conducteur.nom}}</td>
        <td>
          <button mat-icon-button (click)="conducteurDetails(conducteur.idConducteur)">
            <mat-icon color="primary">search</mat-icon>
          </button>
          <button mat-icon-button (click)="updateConducteur(conducteur.idConducteur, conducteur)" style="margin-left: 10px">
            <mat-icon color="accent">edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteConducteur(conducteur.idConducteur)" style="margin-left: 10px">
            <mat-icon color="warn">delete_sweep</mat-icon>
          </button>
        </td>
        <td></td>
      </tr>
      </tbody>
    </table>
    <hr>
    <div class="row">
      <div class="col-3"></div>
      <app-create-conducteur (majListConducteurs)="reloadData()"
                             *ngIf="isDisabledModif">
      </app-create-conducteur>

      <app-update-conducteur (majListConducteurs)="reloadData()"
                             (disableModif)="disableModif()"
                             [conducteur]="conducteurToUpdate"
                             [id]="conducteurId"
                             *ngIf="!isDisabledModif">
      </app-update-conducteur>
      <div class="col-3"></div>
    </div>
  </div>
</div>
