<!--

<div style="width: 400px;">
  <form #f="ngForm" (ngSubmit)="onSubmit()">
    <mat-card>
      <mat-card-title>
        Créer un emprunt
      </mat-card-title>
      <mat-card-content>
        <mat-form-field>

          <mat-select placeholder="Conducteur" [formControl]="conducteurControl">

          <mat-select placeholder="Conducteur">
            <mat-option *ngFor="let conducteur of conducteurs | async" [value]="conducteur.idConducteur" name="conduc">
              {{conducteur.prenom}} {{conducteur.nom}}
            </mat-option>
          </mat-select>

          <mat-error *ngIf="conducteurControl.hasError('required')">Veuillez choisir un conducteur</mat-error>
          <mat-hint>{{conducteurControl.value?.sound}}</mat-hint>

        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="véhicule" >
            <mat-option *ngFor="let vehicule of vehicules | async" [value]="vehicule.idVehicule" name="vehic">
              {{vehicule.marque}} {{vehicule.modele}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit">Envoyer</button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </form>
</div>
