<div style="width: 400px;">
  <form #f="ngForm" (ngSubmit)="onSubmit()">
    <mat-card>
      <mat-card-title>
        Modifier un emprunt
      </mat-card-title>
      <mat-card-content>
        <mat-form-field>
          <mat-select placeholder="{{emprunt.conducteur.prenom}} {{emprunt.conducteur.nom}}" [(value)]="emprunt.conducteur">
            <mat-option *ngFor="let conducteur of conducteurs | async" [value]="conducteur.valueOf()">
              {{conducteur.prenom}} {{conducteur.nom}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="{{emprunt.vehicule.marque}} {{emprunt.vehicule.modele}}" [(value)]="emprunt.vehicule">
            <mat-option *ngFor="let vehicule of vehicules | async" [value]="vehicule.valueOf()">
              {{vehicule.marque}} {{vehicule.modele}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit">Envoyer</button>
          <button mat-raised-button color="primary" style="margin-left: 10px" (click)="cancel()">Annuler</button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </form>
</div>
