<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Véhicules</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Id</th>
        <th>Marque</th>
        <th>Modèle</th>
        <th>Couleur</th>
        <th>Immatriculation</th>
        <th></th>
        <th>
          <button mat-icon-button (click)="disableModif()">
            <mat-icon color="primary">person_add</mat-icon>
          </button>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let vehicule of vehicules | async">
        <td>{{vehicule.idVehicule}}</td>
        <td>{{vehicule.marque}}</td>
        <td>{{vehicule.modele}}</td>
        <td>{{vehicule.couleur}}</td>
        <td>{{vehicule.immatriculation}}</td>
        <td>
          <button mat-icon-button (click)="vehiculeDetails(vehicule.idVehicule)">
            <mat-icon color="primary">search</mat-icon>
          </button>
          <button mat-icon-button (click)="updateVehicule(vehicule.idVehicule, vehicule)" style="margin-left: 10px">
            <mat-icon color="accent">edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteVehicule(vehicule.idVehicule)" style="margin-left: 10px">
            <mat-icon color="warn">delete_sweep</mat-icon>
          </button>
        </td>
        <td></td>
      </tr>
      </tbody>
    </table>
    <hr>
    <div class="row">
      <div class="col-3"></div>
      <app-create-vehicule (majListVehicules)="reloadData()"
                           *ngIf="isDisabledModif">
      </app-create-vehicule>

      <app-update-vehicule (majListVehicules)="reloadData()"
                           (disableModif)="disableModif()"
                           [vehicule]="vehiculeToUpdate"
                           [id]="vehiculeId"
                           *ngIf="!isDisabledModif">
      </app-update-vehicule>
      <div class="col-3"></div>
    </div>
  </div>
</div>
