<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="conducteurs" routerLinkActive="active">Conducteurs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="vehicules" routerLinkActive="active">Véhicules</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="emprunts" routerLinkActive="active">Location</a>
    </li>
  </ul>
</nav>
<div class="container">
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <hr>
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <span>Réalisé par Amélie - 2020</span>
  </div>
</footer>
