<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Emprunts</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Id</th>
        <th>Conducteur</th>
        <th>Véhicule</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let emprunt of emprunts | async">
        <td>{{emprunt.idEmprunt}}</td>
        <td>{{emprunt.conducteur.nom}} {{emprunt.conducteur.prenom}}</td>
        <td>{{emprunt.vehicule.marque}} {{emprunt.vehicule.modele}}</td>
        <td>
          <button mat-icon-button (click)="empruntDetails(emprunt.idEmprunt)">
            <mat-icon color="primary">search</mat-icon>
          </button>
          <button mat-icon-button (click)="updateEmprunt(emprunt.idEmprunt, emprunt)" style="margin-left: 10px">
            <mat-icon color="accent">edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteEmprunt(emprunt.idEmprunt)" style="margin-left: 10px">
            <mat-icon color="warn">delete_sweep</mat-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>

    <hr>
    <div class="row">
      <div class="col-3"></div>
      <app-create-emprunt (majListEmprunts)="reloadData()"
                          *ngIf="isDisabledModif">
      </app-create-emprunt>

      <app-update-emprunt (majListEmprunts)="reloadData()"
                          (disableModif)="disableModif()"
                          [emprunt]="empruntToUpdate"
                          [id]="empruntId"
                          *ngIf="!isDisabledModif">
      </app-update-emprunt>

    </div>
  </div>
</div>

